@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: #575757;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    color: #676767;
}
span.text-orange{
    color: #ff8333;
}
span.text-white{
    color: #fff;
}
button.btn{
    background: linear-gradient(90deg, rgba(251,162,79,1) 0%, rgba(255,30,30,1) 100%, rgba(255,30,30,1) 100%);
    color: #fff;
    padding: 15px 23px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
    width: 50%;
    float: left;
    align-items: center;
}

/* menu */
.menu{
    padding: 20px 50px;
    background-color: #ff8333;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    box-shadow: rgba(50, 50, 95, 0.25) 0px 6px 12px -2px;
}
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    padding: 2px 0;
}
.nabvar-right{
    float: right;
    margin-right: 100px;
}
.nabvar-right a {
    font-weight: 600;
    font-size: 18px;
}
.nabvar-right a:hover {
    color: #575757
}
a.brand{
    color: #575757;
    font-size: 32px;
    font-weight: bold;
    float: left;
}

/* header area */
.header{
    padding: 15px 50px 50px 50px;
    margin-top: 60px;
}
.header-image img{
    width: 80% ;
    float: right;
}
.header-text{
   margin-top: 10%;
}
.header-text h1{
    font-size: 60px;
    line-height: 5rem;
    margin-bottom: 20px;
}
.header-text p{
    line-height: 1.8rem;
    width: 70%;
    font-size: 20px;
    margin-bottom: 20px;
}

/* about section */
.about{
    padding: 100px 50px 50px 50px;
    background-image: url('images/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}
.about-image{
    text-align: center;
}
.about-image img{
    width: 50%;
}
.about-text{
    text-align: left;
    margin-top: 5%;
}
.about-text h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 18px;
    margin-bottom: 40px;
}

/* recipie area */
.recipie{
    padding: 100px 50px 50px 50px;
}
.recipie-text h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.recipie-text p{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
    /* justify-content: space-around; */
}
.card {
    flex: 0 1 25%;
    margin: 15px 10px;
    border-radius: 20px;
    text-align: center;
    /* background: #ededed; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 20px;
}
.card-body{
    padding: 15px;
}
.card-text{
    text-align: left;
}
.card img{
    width: 300px;
    height: 220px;
    margin: auto;
    border-radius: 10px;
    background-position: center;
}
.card h4{
    font-size: 28px;
    color: #000;
    margin: 20px 0 10px 0;
}
.card p{
    line-height: 1.5rem;
}

/* counter-area */
.counter-area{
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 70px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.counter{
    width: 33%;
    margin: auto;
    float: left;
    text-align: center;
}
.counter h3{
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
}

/* contact area */
.contact{
    padding: 100px 50px 50px 50px;
}
.contact h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.contact form{
    width: 60%;
    margin: auto;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid #FBA24F;
    outline: none !important;
}
.form-btn{
    text-align: center;
}
.form-btn button{
    text-align: center;
    padding: 15px 50px;
    cursor: pointer;
}

/* footer area */
.footer{
    margin-top: 100px;
    background-color: #0B0D17;
    text-align: center;
    padding: 50px;
}
.footer h4{
    font-size: 28px;
    margin-bottom: 20px;
}
.footer p{
    color: #cacaca;
    margin-bottom: 20px;
}
